<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item paginationBack"><a
                class="page-link"
              >Назад</a></li>
            <li class="page-item paginationNext"><a
                class="page-link"
              >След</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row row-cols-auto data">
    </div>
  </div>
</body>